/* color palette */

$logo-color: #581113;
$divider-color: #DEDEDE;
$bottom-color: #131313;
$font-color: #FFFFFF;
$h2-color: #4B4B4B;

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.flex {
    display: flex;
}

/* WRAPPER AND CONTAINER */

#wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

#container {
    width: 90%;
    margin: 0 auto;
}

/* HEADER */

#banner {
    justify-content: space-between;
    padding: 0.5rem;
    background-color: $logo-color;
    align-items: center;
}

#banner img {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* NAVIGATION HEADER AND FOOOTER*/

nav {
    background-color: $bottom-color;
    padding: 0.2rem;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    padding-right: 0.2rem;
    color: $font-color;
}

/* MAIN CONTENT */

#date {
    justify-content: flex-end;
}

h2 {
    background-color: $divider-color;
    width: 100%;
}

/* SECTION NEWS */

#section {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

#section-news {
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

#row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.item {
    width: 32%;
}

.item img,
.item-L img {
    max-width: 100%;
    height: auto;
    display: block;
}

#resize {
    padding-top: 1.5rem;
}

#content {
    position: relative;
}

.text {
    background-color: $bottom-color;
    position: absolute;
    bottom: -3rem;
}

.item p,
.item-L p {
    color: $font-color;
    padding-left: 1rem;
    padding-right: 0.5rem;
    text-align: left;
}

#side {
    width: 20%;
}

#side img {
    display: block;
    width: 63%;
    margin-left: auto;
    height: 100%;
}

/* DIVIDER */

#divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#divider img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* TECH SECTION */

#section-tech {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}

.item-L {
    width: 40%;
    margin-bottom: 1rem;
}

/* FOOTER */

#footer {
    background-color: $bottom-color;
    margin-top: 5rem;
}

#logo {
    justify-content: flex-end;
    padding-right: 2rem;
}

#footer p {
    text-align: center;
    color: $font-color;
    font-size: 0.75rem;
}

/* MOBILE AND TABLET OVERRIDES */

@media screen and (min-width: 780px) {
	#mobile-tablet {
		display: none;
	}
}

@media screen and (max-width: 480px) {
    #hidden {
        display: none;
    }

    #container {
    	display: none;
    }
}


@media screen and (max-width: 780px) {
    #hidden {
        display: none;
    }

    #container {
    	display: none;
    }

    #mobile-wrap {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
    	align-items: center;
    }

	#bigger img {
		width: 100%;
	}

    #mobile-wrap .item {
    	width: 48%;
    	margin-bottom: 1rem;
    }

    #mobile-wrap .item img {
    	object-fit: cover;
    }

     #mobile-wrap p {
    	font-size: 0.75rem;
    	background-color: $bottom-color;
    	margin: 0;
    	padding: 1rem;
		
    }
}