/* color palette */

$logo-color: #581113;
$divider-color: #DEDEDE;
$bottom-color: #131313;
$font-color: #FFFFFF;
$h2-color: #4B4B4B;

body {
    font-size: 16px; 
    font-family: Arial, sans-serif;
}

.flex {
	display: flex;
}

/* WRAPPER AND CONTAINER */

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#container {
	width: 90%;
	margin: 0 auto;
}

/* HEADER */

#banner {
	justify-content: space-between;
	padding: 0.5rem;
	background-color: $logo-color;
	align-items: center;
}

#banner img {
	margin-left: 0.3rem; 
	margin-right: 0.3rem;
}

/* NAVIGATION HEADER AND FOOOTER*/

nav {
    background-color: $bottom-color;
    padding: 0.2rem;
}

nav li {
	display: inline;
}

nav li a {
    text-decoration: none;
    padding-right: 0.2rem;
    color: $font-color;
}

/* MAIN CONTENT */

#date {
	justify-content: flex-end;
}

h2 {
	background-color: $divider-color;
}

/* SECTION NEWS */

#section {
	justify-content: space-between;
	width: 100%;
}

#section-news {
	width: 80%;
	flex-direction: column;
	justify-content: space-between;
}

#row {
	flex-direction: row;
	justify-content: space-between;
}

.item {
	width: 30%;
}

.item img {
	width: 100%;
    height: auto;
    display: block;
}

.item .text {
	background-color: $bottom-color;
	padding: 0.1rem;
}

.item p {
	color: $font-color;
}

#side {
	width: 20%;
	margin-left: 1rem;
}

#side img{
	width: 100%;
	height: auto;
} 

/* DIVIDER */

#divider {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
























