body {
    font-size: 16px; 
    font-family: Arial, sans-serif;
}


/* color palette */

$logo-color: #581113;
$divider-color: #DEDEDE;
$bottom-color: #131313;


/* WRAPPER AND CONTAINER */

#container {
    width: 80%;
    margin: 0 auto;
}